body {
    display: grid;
    place-items: center;
    background-image: url(pexels-fwstudio-129731.jpg)
}

h1 {
    color: 264653ff;
    font-family: Papyrus, fantasy;
}

button:hover {
    color: burlywood;
    background-color: #ccd5ae;
    transition: 1s;
}

button {
    background-color: burlywood;
    font-size: 1.2rem;
    color: black;
    margin: 1rem;
    width: 9rem;
    /* padding: */
    border-radius: 10%;

}



a {
    text-decoration: none;
    color: black;
}

p,
ol,
ul,
a {
    /* place-items: 100; */
    color: 264653ff;
    font-family: Papyrus, fantasy;
    font-size: larger;
}

.hub {
    align-content: center;
    text-align: center;
    background-color: beige;
    /* margin: 400 px; */
    position: relative;
    margin: 1rem auto 1rem auto;
    /* margin-top: 1rem; */
    box-sizing: border-box;
    padding: 5%;
    padding-top: 2%;
    /* padding-right: 2%; */
    border-width: 1rem;
    /* border-left-style: ridge; */
    border-top-style: groove;
    /* border-color: d; */
    /* height: 100px;    */
    width: auto;
    border-radius: 5%
}



.rec {
    /* display: grid; */
    /* place-items: cent; */
    transition: 3s;
    position: relative;
    background-color: beige;
    /* margin: auto; */
    /* height: auto; */
    /* box-sizing: border-box; */
    padding: 8rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    /* border-width: 1rem; */
    /* border-right-style: ridge; */
    /* border-style: none; */
    /* border-color: #ccd5ae; */
    /* height: 100px; */
    width: 30rem;
    border-radius: 5%;
    margin: 1rem auto 1rem auto;
    /* margin-bottom: ; */

}

.rec:hover {
    /* transition: 3s; */
    border-radius: 25%;
    /* border-bottom-right-radius: 25%; */
    */
}

.img {
    /* margin: 5rem; */
    padding: 2rem;
    margin: 50px;
    /* height: 100px; */
    position: relative;
    /* background-image: "/Feast.jpg"; */
    /* border-radius: 10%; */
}

/* ol,
ul {
    color: rgb(18, 18, 19);
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
} */

/* CSS HEX */