body {
    background-image: url(pexels-fwstudio-129731.jpg)
}

h1 {
    color: 264653ff;
    font-family: Papyrus, fantasy;
}

p,
ol,
ul {
    /* place-items: 100; */
    color: 264653ff;
    font-family: Papyrus, fantasy;
    font-size: larger;
}

/* ol,
ul {
    color: rgb(18, 18, 19);
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
} */

/* CSS HEX */
--charcoal: #264653ff;
--persian-green: #2a9d8fff;
--maize-crayola: #e9c46aff;
--sandy-brown: #f4a261ff;
--burnt-sienna: #e76f51ff;